extends layout
block content
  ol.breadcrumb
    li
      a(href='/group') Inicio
    li.active= category
  .row
    each post in posts
      .col-sm-6.col-md-4
        .thumbnail
          if post.picture.fileType !== null
            img(src=`data:${post.picture.fileType};base64,${post.picture.data.toString('base64')}`, alt='img')
          .caption
            h3= post.title
            p= post.text
            p
              a.btn.btn-primary(href=`/${group}/${category}/${post._id}`, role='button') Leer mas...
