extends layout
block content
  ol.breadcrumb
    li
      a(href='/group') Inicio
    li
      a(href=`/${group}/${category}`)= category
    li.active= post.title
  .page-header
    h1= post.title
      p.small=post.author
  if post.picture.fileType !== null
    img.img-responsive(src=`data:${post.picture.fileType};base64,${post.picture.data.toString('base64')}`, alt='img')
  p.lead(style='margin-top:1em;')= post.text
  ul.list-group
    li.list-group-item
      form(method='POST', action=`/${group}/${category}/${post._id}/coment`)
        .form-group
          textarea#comment.form-control(type='text', placeholder='Muy buen post...', name='comment', rows='2')
          input(type='text', name='authorComment', value=user.firstname, hidden)
        button.btn.btn-primary(type='submit', style='margin-bottom:1em;') Comentar
    each comment in post.comments
      li.list-group-item= comment
